h1 {
  font-family: "Cinzel Decorative", serif;
  font-size: 48px;
}
h2 {
  font-family: "Cinzel Decorative", serif;
  font-size: 40px;
}
h3{
  font-family: "Cinzel Decorative", serif;
  font-size: 32px;
}
h4, h5, h6 {
  font-family: "Cinzel Decorative", serif;
  font-size: 24px;
}
p {
  font-family: "EB Garamond", serif;
  font-size: 16px;
}